.app {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 2rem auto;
  text-align: center;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(25% - 3rem);
  height: 20rem;
  font-size: 3rem;
  margin: 1.5rem;
  border-radius: 50%;
  box-shadow: 0 0 1rem 0.1rem rgba(255, 255, 255, 1);
  cursor: pointer;
}

.user:hover {
  animation: box-shadow-alive .5s infinite linear;
}

@keyframes box-shadow-alive {
  0% {
    box-shadow: 0 0 1rem 0.1rem rgba(255, 255, 255, 1);
  }
  50% {
    box-shadow: 0 0 1rem 1rem rgba(255, 255, 255, 1);
  }
  100% {
    box-shadow: 0 0 1rem 0.1rem rgba(255, 255, 255, 1);
  }
}
