a {
  font-size: 3rem;
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
  margin-bottom: 1rem;
  padding: .5rem 1.5rem;
  background-color: inherit;
  color: inherit;
  border: .1rem solid gray;
  border-radius: .5rem;
  outline: none;
  transition: transform .5s linear;
}
button:hover {
  transform: scale(1.05)
}

.app {
  width: 60%;
  margin: 1.5rem auto;
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.user,
.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(25% - 3rem);
  margin: 1.5rem;
  box-shadow: 0 0 1rem 0.1rem rgba(255, 255, 255, 1);
}

.user {
  height: 20rem;
  border-radius: 50%;
}

.post {
  font-size: 3rem;
  padding: 0.5rem;
  cursor: grab;
}
.user:hover {
  animation: box-shadow-alive 1s infinite linear;
}

@keyframes box-shadow-alive {
  0% {
    box-shadow: 0 0 1rem 0.1rem rgba(255, 255, 255, 1);
  }
  50% {
    box-shadow: 0 0 1rem 1rem rgba(255, 255, 255, 1);
  }
  100% {
    box-shadow: 0 0 1rem 0.1rem rgba(255, 255, 255, 1);
  }
}
